mwpm/main.py
shuffling/.DS_Store
shuffling/fit.py
shuffling/formatting.py
shuffling/main.py
shuffling/param.py
shuffling/plot.py
shuffling/README.md
shuffling/simulations.py
shuffling/data/data_toom_only.csv
shuffling/data/data.csv
shuffling/data/proof.csv
shuffling/fig/.DS_Store
shuffling/fig/gamma_f_n_wo_fit.pdf
shuffling/fig/gamma_f_n.pdf
shuffling/fig/logical_estimate_f_n.pdf
shuffling/fig/global/logical_f_E_pL_fit.pdf
shuffling/fig/global/logical_f_E_wo_fit.pdf
shuffling/fig/toom/logical_f_E_pL_fit.pdf
shuffling/fig/toom/logical_f_E_wo_fit.pdf
shuffling/fig/toom+1sn/logical_f_E_pL_fit.pdf
shuffling/fig/toom+1sn/logical_f_E_wo_fit.pdf
shuffling/fig/toom+2sn/logical_f_E_pL_fit.pdf
shuffling/fig/toom+2sn/logical_f_E_wo_fit.pdf
shuffling/fig/toom+3sn/logical_f_E_pL_fit.pdf
shuffling/fig/toom+3sn/logical_f_E_wo_fit.pdf
